doctype html

html
  head
    title ISM Device Web Interface
    //- link(rel='stylesheet', href='/static/css/foundation.css')
    //- link(rel='stylesheet', href='/static/css/main.css')
    //- link(rel='stylesheet', href='/static/font-awesome/css/font-awesome.min.css')

  body
    .container.text-center
      h1 Please configure this device
      p Temp
      //- form#locform(action="/", method="post")
      //-   .input-group
      //-     span.input-group-label Location
      //-     input.input-group-field(type="text", placeholder="Enter your location here...", name="location")
      //-     .input-group-button
      //-       input.button(type='submit', value='Submit')
