doctype html

html
  include ./head.pug
  include ./nav.pug

  body
    .container-fluid.text-center
      h1 Please configure this device
      p Temp
      //- form#locform(action="/", method="post")
      //-   .input-group
      //-     span.input-group-label Location
      //-     input.input-group-field(type="text", placeholder="Enter your location here...", name="location")
      //-     .input-group-button
      //-       input.button(type='submit', value='Submit')
