doctype html

html
  head
    title ISM Device Web Interface
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')

  body
    .container.text-center
      h1 Please configure this device
      p Temp
      //- form#locform(action="/", method="post")
      //-   .input-group
      //-     span.input-group-label Location
      //-     input.input-group-field(type="text", placeholder="Enter your location here...", name="location")
      //-     .input-group-button
      //-       input.button(type='submit', value='Submit')
