extends ./layout.pug
block scripts
  script(src='/js/shutdown.js')
block content
  h1.text-xs-center #{pagetitle}
  .alert.alert-danger.text-xs-center
    p#question Are you sure you want to shutdown the server?
    input#csrf(type='hidden' name='_csrf' value=Token)
    button.btn.btn-danger.text-xs-center#shutdown Shutdown
